version: '3'

services:

  ### DEV
  dev:
    image: &dev_version recruiter-1912/dev:0.0.1
    build:
      context: ./dev
      dockerfile: Dockerfile
    environment:
      PYPI_USERNAME: "${PYPI_USERNAME}"
      PYPI_PASSWORD: "${PYPI_PASSWORD}"
      SL_VERSION: *dev_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code:/home
      - ~/code/recruiter:/home/recruiter
      - ~/code/recruiter/pipable:/home/recruiter/pipable
      - ~/code/recruiter/platform:/home/recruiter/platform
      - ~/code/recruiter/scripts:/opt/scripts
    working_dir: /home/recruiter
    command: /bin/bash

  ### API
  suzuka:
    image: &suzuka_version recruiter-1912/suzuka:0.0.1
    build:
      context: ./platform/suzuka
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - redis
    ports:
      - "1234:1234"
    environment:
      PORT: 1234
      REDIS_HOST: redis
      REDIS_PORT: 4999
      POSTGRES_DB: banana_dev
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5999
      POSTGRES_USER: suzuka
      POSTGRES_PASSWORD: suzuka
      SL_VERSION: *suzuka_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code/recruiter/platform/suzuka:/home/platform/suzuka
    working_dir: /home/platform/suzuka
    command: /home/platform/suzuka/serve.sh

  ### FRONT END
  monza:
    image: &monza_version recruiter-1912/monza:0.0.1
    build:
      context: ./platform/monza
      dockerfile: Dockerfile
    depends_on:
      - suzuka
    ports:
      - 6622:6622
    environment:
      PORT: 6622
      SL_VERSION: *monza_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code/recruiter/platform/monza:/home/platform/monza
    working_dir: /home/platform/monza

  ### PIPABLE
  utils:
    image: &utils_version recruiter-1912/utils:0.0.1
    build:
      context: ./pipable/utils
      dockerfile: Dockerfile
    ports:
      - "7412:7412"
    environment:
      PORT: 7412
      SL_VERSION: *utils_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code/recruiter/pipable:/home/platform
    working_dir: /home/platform/utils

  ### DATABASE
  postgres:
    image: postgres:13.1
    ports:
      - "5999:5999"
    environment:
      - POSTGRES_DB=suzuka_dev
      - POSTGRES_USER=suzuka
      - POSTGRES_PASSWORD=suzuka
    command: -p 5999

  redis:
    image: redis:6.0.6
    ports:
      - "4999:4999"
    command: --port 4999

  ### UTILS
  pypi:
    image: pypi_server:0.0.1
    build:
      context: pypi_server
      dockerfile: Dockerfile
    environment:
      port: "1673"
    ports:
      - "1673:1673"
    volumes:
      - ./pypi_server:/home/pypi_server
    working_dir: /home/pypi_server
