version: '3'

services:

  banana:
    image: &banana_version recruiter-1912/banana:0.0.1
    build:
      context: ./platform/banana
      dockerfile: Dockerfile
    ports:
      - "7999:7999"
    environment:
      PORT: 7999
      MN_VERSION: *banana_version
    volumes:
      - ./platform/banana:/banana
