version: '3'

services:

  ### DEV
  dev:
    image: &dev_version recruiter-1912/dev:0.0.1
    build:
      context: ./dev
      dockerfile: Dockerfile
    environment:
      MN_VERSION: *dev_version
    volumes:
      - ~/code:/app
      - ~/code/recruiter:/home/recruiter
      - ~/code/recruiter/platform:/home/recruiter/platform
      - ~/code/recruiter/scripts:/opt/scripts
    working_dir: /home/recruiter
    command: /bin/bash
    restart: always
    stdin_open: true
    tty: true

  ### API
  banana:
    image: &banana_version recruiter-1912/banana:0.0.1
    build:
      context: ./platform/banana
      dockerfile: Dockerfile
    depends_on:
      - redis
    ports:
      - "7999:7999"
    environment:
      PORT: 7999
      REDIS_HOST: redis
      REDIS_PORT: "4999"
      MN_VERSION: *banana_version
    volumes:
      - ~/code/recruiter/platform:/home/platform
    working_dir: /home/platform/banana
    command: /home/platform/banana/serve.sh

  ### DATABASE
  redis:
    image: redis:6.0.6
    command: ["--notify-keyspace-events", "Ex", "--port 4999"]
    ports:
      - "4999:4999"
    tty: true
