version: '3'

services:

  ### DEV
  dev:
    image: &dev_version recruiter-1912/dev:0.0.1
    build:
      context: ./dev
      dockerfile: Dockerfile
    environment:
      SL_VERSION: *dev_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code:/app
      - ~/code/recruiter:/home/recruiter
      - ~/code/recruiter/platform:/home/recruiter/platform
      - ~/code/recruiter/scripts:/opt/scripts
    working_dir: /home/recruiter
    command: /bin/bash

  ### API
  banana:
    image: &banana_version recruiter-1912/banana:0.0.1
    build:
      context: ./platform/banana
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - redis
    ports:
      - "7999:7999"
    environment:
      PORT: 7999
      REDIS_HOST: redis
      REDIS_PORT: "4999"
      POSTGRES_DB: banana_dev
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5999
      POSTGRES_USER: banana
      POSTGRES_PASSWORD: banana
      SL_VERSION: *banana_version
      SL_ENVIRONMENT: test
    volumes:
      - ~/code/recruiter/platform:/home/platform
    working_dir: /home/platform/banana
    command: /home/platform/banana/serve.sh

  ### DATABASE
  postgres:
    image: postgres:12.4
    ports:
      - "5999:5999"
    environment:
      - POSTGRES_DB=banana_dev
      - POSTGRES_USER=banana
      - POSTGRES_PASSWORD=banana
    command: -p 5999

  redis:
    image: redis:6.0.6
    ports:
      - "4999:4999"
    command: --port 4999
